pycryptodome>=3.15.0
psutil>=5.8.0
Flask>=2.0.0
flask-cors>=6.0.0
flask-socketio
sentry-sdk
watchdog>=2.1.0
tkcalendar>=1.6.1
tksheet>=6.2.15
plyer>=2.1.0
pydantic==2.11.7
tkthread==0.5.2
matplotlib==3.10.5
ttkbootstrap>=1.10.1
# playsound==1.3.0  # Incompatible with Python 3.13, see error details
tkinterdnd2>=0.3.0

