version: 2.1
orbs:
  coveralls: coveralls/coveralls@2.2.5

jobs:
  one_click_build_and_run:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: "build and run"
          command: "python one_click_build_and_run.py"

workflows:
  say-hello-workflow:
    jobs:
      - one_click_build_and_run